{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_superuser %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="jumbotron">
                    <h1>Sorry Mr./Miss {{user.username}} You are not allowed Here</h1>
                    

                
                </div>
            </div>
        </div>
        <a href="{% url 'user_logout'%}" class="btn">Logout</a>
    </div>
{% else %}
<div class="container-fluid">
    <div class="row">
        <!-- left side menu -->
        <div class="col-md-2 bg-dark py-5">
            <nav class="navbar navbar-dark">
              
                <ul class="navbar-nav">
                    <a href="" class="navbar-brand">
            
                        <h3 style="color:white;">{{user.username}}</h3>
                    </a>
                    
                    <li class="nav-item">
                        <a href="{% url 'cust_dashboard'%}" class="nav-link">View Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'edit_profile'%}" class="nav-link">Edit Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'change_password'%}" class="nav-link">Change Password</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'cart'%}" class="nav-link">My Cart</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Order History</a>
                    </li>
                    {% if user.is_staff %}
                    <li class="nav-item">
                        <a href="" class="nav-link">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">My Products</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">Send Email</a>
                    </li>
                   
                    {% endif %}
                    <li class="nav-item">
                        <a href="{% url 'user_logout' %}" class="nav-link">Logout</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- right side menu -->
        <div class="col-md-10">
            {% block dashboard %}

            {% endblock %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}